nav span {
    margin-right: 10px;
    font-size: 19px;
}

select {
    padding: 10px;
    margin-right: 7px;
    margin-top: 10px;
}

#description {
    padding: 10px;

}

#number {
    padding: 10px;
}

#submit-btn {
    margin-top: 15px;
    padding: 12px;
}

input {
    margin-right: 7px;
    margin-top: 10px;
}

#type {
    padding-right: 18px;
}

table {
    margin-top: 50px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

th, td {
    padding: 10px 30px;

}

th {
    font-size: 30px;
}

td {
    font-size: 24px

}

.error {
    border: 2px solid rgb(146, 0, 29);
}

.removebtn {
    height: 25px;
    width: 28px;
    color: white;
    font: bold;
    background: red;
}